.bg-white {
    background-color: $white;
}
.bg-green_white {
    background-color: $green_white;
}
.bg-green_middle {
    background-color: $green_middle;
}
.bg-green {
    background-color: $green;
}


