//Fuentes
$fuentePrincipal: 'Montserrat', sans-serif;

//Colores principales
$white: #F9F8EB;
$green_white: #A7D7C5;
$green_middle: #74B49B;
$green: #5C8D89;
$rosita: rgb(255, 167, 196);
$negro: #000;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Fuentes
$delgada: 200;
$regular: 300;
$bold: 600;
$black: 800;


// Separaciones
$separacion: 5rem;
$separacion1: 2.5rem;
