.projects {
    height: auto;
    padding: calc( 10rem - 5rem) 0;

    h2 {
        font-family: $fuentePrincipal;
        font-weight: $regular;
        text-align: center;
        span {
            padding-bottom: .5rem;
            display: inline-block;
            border-bottom: .2rem solid $negro;
        }
    }
    h3 {
        font-family: $fuentePrincipal;
        font-weight: $regular;
        text-align: center;
    }
    h4 {
        font-family: $fuentePrincipal;
        font-weight: $regular;
        text-align: center;
        @include telefono_max {
            font-size: 1.5rem;
        }
    }

    .responsive {
        padding: calc( 5rem - 3rem) 0;
        display: flex;
            justify-content: center;
        @include telefono {
            @include grid (2, $separacion);
            place-content: center;
            width: 80%;
            margin: auto auto;
            
            img {
                width:400; 
                height:200;              
            }
            .gallery {
                padding: calc( 5rem - 3rem) 1rem;
                border-radius: .5rem;
                background-color: $green_white;
                box-shadow: 0 .3rem 2rem #444;
            }
            .desc {
                background-color: $green_white;
                border-radius: .5rem;
                text-align: center;
                padding: calc( 5rem - 3rem) 0;
                h5 {
                    font-family: $fuentePrincipal;
                    font-weight: $bold;
                    text-align: center;

                    span {
                        padding-bottom: .5rem;
                        display: inline-block;
                        border-bottom: .2rem solid $negro;
                    }
                    ion-icon {
                        font-size: 2rem;
                        color: $negro;
                    }
                }
                ion-icon {
                    font-size: 5rem;
                    color: $green;
                }
                
            }
        }

        @include telefono_max {
            @include grid (1, $separacion);
            padding: 0 calc( 10rem - 5rem);
            
            img {
                width:30rem; 
                height:15rem;              
            }
            .gallery {
                padding: calc( 5rem - 3rem) 1rem;
                border-radius: .5rem;
                background-color: $green_white;
                box-shadow: 0 .3rem 3rem #444;
            }
            .desc {
                background-color: $green_white;
                text-align: center;
                h5 {
                    font-family: $fuentePrincipal;
                    font-weight: $bold;
                    text-align: center;

                    span {
                        padding-bottom: .5rem;
                        display: inline-block;
                        border-bottom: .2rem solid $negro;
                    }
                    ion-icon {
                        font-size: 1rem;
                        color: $negro;
                    }
                }
                ion-icon {
                    font-size: 3rem;
                    color: $green;
                }
                
            }
        }
        

        
    }
}